<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <select id="select" class="form-control" v-model="selected">
          <option value="">Select a {{input}}...</option>
          <option v-for="inputS in inputSelects" :key="inputS.id" :value="inputS.google_id">{{inputS.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-12">&nbsp;</div>
    </div>
    <div id="error-container">

    </div>
    <div class="row">
      <div class="col-12">
        <div id="timetable"></div>
      </div>
    </div>
  </div>
</template>
<script>
/* global FullCalendar */
export default {
  name: 'Calendar',
  data() {
    return {
      calendar: null,
      selected: '',
      search: 'classes',
      input: 'class',
      inputSelects: []
    };
  },
  created: function() {
    let menu = 'Students';
    switch (this.$route.params.type) {
      case 'rooms':
        menu = 'Rooms';
        this.search = 'rooms';
        this.input = 'room';
        break;
      case 'students':
        menu = 'Students';
        this.search = 'classes';
        this.input = 'class';
        break;
      case 'teachers':
        menu = 'Teachers';
        this.search = 'teachers';
        this.input = 'teacher';
        break;
    }
    this.$emit('change-active', menu);
    this.$emit('loader', true);
    fetch(`${process.env.BACKEND_ENDPOINT}/calendar/${this.search}`, {
      mode: 'cors'
    })
      .then(response => response.json())
      .then(json => {
        this.inputSelects = json;
        this.$emit('loader', false);
      });
  },
  mounted: function() {
    let calendarEl = document.getElementById('timetable');
    this.calendar = new FullCalendar.Calendar(calendarEl, {
      defaultView: 'agendaWeek',
      allDaySlot: false,
      nowIndicator: true,
      minTime: '07:00:00',
      maxTime: '20:00:00',
      hiddenDays: [0], // index of days 0=Sunday, 1=Monday example: [0,1,2,3,4,5,6]
      weekNumbers: true,
      height: 'auto',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      loading: bool => {
        this.$emit('loader', bool);
      },
      displayEventTime: false
    });
    this.calendar.render();
  },
  methods: {
    updateCalendar: function(selectedCalendarId) {
      if (selectedCalendarId !== '') {
        $('#error-container').html('');
        this.calendar.removeEvents();
        this.calendar.removeEventSources();
        this.calendar.addEventSource((start, end, timezone, callback) => {
          let events = [];
          fetch(
            `${
              process.env.BACKEND_ENDPOINT
            }/google/events/${selectedCalendarId}?start=${start.unix()}&end=${end.unix()}`,
            { mode: 'cors' }
          )
            .then(response => {
              if (response.status === 200) {
                return response.json();
              } else {
                throw response.text();
              }
            })
            .then(json => {
              events = json;
              events.forEach((event, index) => {
                events[index].title = event.title.split(',').join('\n');
              });
              callback(events);
            })
            .catch(err => {
              this.calendar.removeEvents();
              $('#error-container').html(
                'LoadCalendars problem. Please contact PNC WEP team if refreshing the page doesn\'t solve the problem.'
              );
              err.then(ex => console.log(ex));
              callback(events);
            });
        });
      }
    }
  },
  watch: {
    selected: function(newValue, oldValue) {
      this.updateCalendar(newValue);
    }
  }
};
</script>

<style scoped>
#timetable {
  margin-bottom: 10px;
}
</style>
