<template>
  <div class="container">
    <div class="row">
      <h2>Login</h2><br/>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-danger" v-if="errorDisplay">
          <strong>Error.</strong> Login Failed.
        </div>
        <form @submit="login">
          <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" nmae="username" class="form-control" id="usernameInput" placeholder="Enter username" v-model="name">
          </div>
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Password" v-model="password">
          </div>
          <div class="form-check">
            <button type="submit" class="btn btn-primary" @click="login">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</template>
<script>
import AdminService from '@/services/AdminService';

export default {
  name: 'Login',
  data() {
    return {
      name: '',
      password: '',
      errorDisplay: false,
      admin: new AdminService(this)
    };
  },
  created() {
    this.$emit('loader', false);
    if (this.admin.isAdmin()) {
      this.$router.push('/');
    }
  },
  mounted() {},
  methods: {
    login(e) {
      e.preventDefault();
      this.$emit('loader', true);
      fetch(
        `${process.env.BACKEND_ENDPOINT}/admin?user=${this.name}&password=${
          this.password
        }`
      )
        .then(response => response.json())
        .then(isAdmin => {
          if (isAdmin) {
            this.$session.start();
            this.$session.set('username', this.name);
            this.$session.set('password', this.password);
            this.$router.push('/stats');
          } else {
            this.errorDisplay = true;
          }
          this.$emit('loader', false);
        });
    }
  },
  watch: {
    name: function(newValue, oldValue) {
      this.errorDisplay = false;
    },
    password: function(newValue, oldValue) {
      this.errorDisplay = false;
    }
  }
};
</script>

<style scoped>
</style>
