<template>
  <div class="container">
    <div class="no-print">
      <ul class="nav nav-tabs">
        <li v-for="menu in menus" class="nav-item" :key="menu.name">
          <a :class="{active: menu.name == printSelected}" :href="menu.href" class="nav-link">{{menu.name}}</a>
        </li>
      </ul>
      <button id="previous" @click="prevStep()" disabled> &lt; Previous</button>
      <button id="next" @click="nextStep()" disabled>Next &gt;</button>
      <button id="today" @click="goToToday()" disabled>Today</button>
      <span>&nbsp;&nbsp;</span>
      <i class="mdi" :class="iconLoad"></i>
      <span id="counter">{{counter}}</span>
      <div id="modalContent"></div>
    </div>
    <div class="page" id="timetables">
      <div class="page-break" v-for="(calendarData, index) in calendarsData" :key="index">
        <h1 class="break">{{calendarData.name}}</h1>
        <div :id="calendarData.selector" :ref="calendarData.selector"></div>
        <p :id="calendarData.selector + '-error'" :ref="calendarData.selector + '-error'"></p>
      </div>
    </div>
  </div>
</template>
<script>
/* global FullCalendar */

export default {
  name: 'Print',
  data() {
    return {
      calendarDataList: null,
      calendarsGoogleId: null,
      counter: 'Loading...',
      calendars: [],
      iconLoad: 'mdi-loading mdi-spin',
      calendarsData: [],
      firstTime: true,
      printSelected: '',
      search: 'classes',
      menus: [
        {
          name: 'Classes',
          href: '/print/classes'
        },
        {
          name: 'Teachers',
          href: '/print/teachers'
        },
        {
          name: 'Rooms',
          href: '/print/rooms'
        }
      ]
    };
  },
  created: function() {
    this.printSelected = 'Classes';
    this.search = 'classes';
    switch (this.$route.params.type) {
      case 'rooms':
        this.printSelected = 'Rooms';
        this.search = 'rooms';
        break;
      case 'classes':
        this.printSelected = 'Classes';
        this.search = 'classes';
        break;
      case 'teachers':
        this.printSelected = 'Teachers';
        this.search = 'teachers';
        break;
    }
    this.$emit('change-active', 'Printable');
    this.$emit('loader', true);
    this.iconLoad = 'mdi-loading mdi-spin';
    this.loadCalendarId();
  },
  updated: function() {
    if (this.firstTime) {
      this.calendarsData.forEach(ressource => {
        this.createTimeTableWithRessource(
          ressource.googleId,
          ressource.selector
        );
      });
      this.firstTime = false;
    }
  },
  methods: {
    loadCalendarId: function() {
      fetch(`${process.env.BACKEND_ENDPOINT}/calendar/${this.search}`, {
        mode: 'cors'
      })
        .then(request => request.json())
        .then(data => {
          this.calendarsGoogleId = data;
          let i = 1;
          this.calendarsGoogleId.forEach(ressource => {
            this.calendarsData.push({
              name: ressource.name,
              googleId: ressource.google_id,
              selector: 'timetable-' + i
            });
            i++;
          });
        })
        .catch(err => {
          console.error('error requesting classes', err);
        });
    },
    createTimeTableWithRessource: function(googleId, calendarId) {
      let calendar = new FullCalendar.Calendar(this.$refs[calendarId][0], {
        defaultView: 'agendaWeek',
        height: 800,
        minTime: '7:00:00',
        maxTime: '21:00:00',
        firstDay: 1,
        weekNumbers: true,
        header: {
          left: '',
          center: '',
          right: ''
        },
        selectable: false,
        selectHelper: false,
        editable: false,
        allDaySlot: false,
        events: (start, end, timezone, callback) => {
          let events = [];
          fetch(
            `${
              process.env.BACKEND_ENDPOINT
            }/google/events/${googleId}?start=${start.unix()}&end=${end.unix()}&showClasses=false`,
            { mode: 'cors' }
          )
            .then(response => response.json())
            .then(json => {
              events = json;
              events.forEach((event, index) => {
                events[index].title = event.title.split(',').join('\n');
              });
              callback(events);
            })
            .catch(err => {
              console.error(err);
              let calendarNb = +calendarId.split('-')[1];
              this.calendars[calendarNb - 1].destroy();
              this.calendars.splice(calendarNb - 1, 1);
              this.$refs[calendarId + '-error'][0].innerHTML =
                'LoadCalendars problem. Please contact PNC WEP team if refreshing the page doesn\'t solve the problem.';
              callback(events);
            });
        },
        loading: bool => {
          this.$emit('loader', bool);
          this.iconLoad = bool
            ? 'mdi-loading mdi-spin'
            : 'mdi-check icon-checked';
          this.counter = bool ? 'Loading...' : 'Ready.';
        }
      });
      calendar.render();
      this.calendars.push(calendar);
      this.updateCounter(this.calendarsGoogleId);
    },
    updateCounter: function(calendarsGoogleId) {
      this.counter = `(${this.calendars.length}/${
        Object.keys(calendarsGoogleId).length
      })`;
      if (this.calendars.length === Object.keys(calendarsGoogleId).length) {
        this.counter = 'Ready.';
        $('#next').prop('disabled', false);
        $('#previous').prop('disabled', false);
        $('#today').prop('disabled', false);
        this.$emit('loader', false);
        this.iconLoad = 'mdi-check icon-checked';
      }
    },
    nextStep: function() {
      this.calendars.forEach(calendar => {
        calendar.next();
      });
    },
    prevStep: function() {
      this.calendars.forEach(calendar => {
        calendar.prev();
      });
    },
    goToToday: function() {
      this.calendars.forEach(calendar => {
        calendar.today();
      });
    }
  }
};
</script>

<style>
.break {
  text-align: left;
}
.page-break {
  page-break-before: always;
}
.page {
  width: 29cm;
}
.icon-checked {
  color: #0fc70f;
}

@media print {
  .no-print {
    display: none;
  }
}
</style>
