<template>
  <div id="app">
    <Header class="no-print" :active="active" />
    <Loader class="no-print" :active="showLoader" />
    <router-view class="main-page" @change-active="changeActive" @loader="setLoaderShown" />
  </div>
</template>

<script>
import Header from '@/components/header/Header';
import Loader from '@/components/loader/Loader';

export default {
  name: 'App',
  data() {
    return {
      active: 'Teachers',
      showLoader: false
    };
  },
  components: {
    Header,
    Loader
  },
  methods: {
    changeActive: function(active) {
      this.active = active;
    },
    setLoaderShown: function(active) {
      this.showLoader = active;
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.main-page {
  padding-top: 5px;
}
</style>
