<template>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">PNC Timetables</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <template v-for="menu in menus">
            <template v-if="!menu.admin || menu.admin && isAdmin()">
              <li class="nav-item dropdown" v-if="menu.submenus" :key="menu.name">
                <a :class="{active: isParentMenu(menu)}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{menu.name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" :class="{active: submenu.name == active}" :href="submenu.href" v-for="submenu in menu.submenus" :key="submenu.name">{{submenu.name}}</a>
                </div>
              </li>
              <li class="nav-item" v-else :key="menu.name">
                <a :class="{active: menu.name == active}" :href="menu.href" class="nav-link">{{menu.name}}</a>
              </li>
            </template>
          </template>
          <li class="nav-item">
            <button v-if="isAdmin()" class="btn btn-outline-danger my-2 my-sm-0 mdi mdi-logout icon-button" @click="logout">Logout</button>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'Header',
  data() {
    return {
      menus: [
        {
          name: 'Teachers',
          href: '/calendar/teachers'
        },
        {
          name: 'Students',
          href: '/calendar/students'
        },
        {
          name: 'Rooms',
          href: '/calendar/rooms'
        },
        {
          name: 'Printable',
          href: '/print'
        },
        {
          name: 'Statistics',
          href: '/admin/stats'
        },
        {
          name: 'Administration',
          admin: true,
          submenus: [
            {
              name: 'Modules',
              href: '/admin/modules'
            },
            {
              name: 'Lessons',
              href: '/admin/lessons'
            },
            {
              name: 'Manage Teachers',
              href: '/admin/teachers'
            },
            {
              name: 'Manage Rooms',
              href: '/admin/rooms'
            },
            {
              name: 'Manage Classes',
              href: '/admin/classes'
            }
          ]
        }
      ]
    };
  },
  props: ['active'],
  methods: {
    logout: function() {
      this.$session.destroy();
      this.$router.push('/');
    },
    isAdmin() {
      return this.$session.exists();
    },
    isParentMenu(menu) {
      let isParent = false;
      menu.submenus.forEach(submenu => {
        if (submenu.name === this.active) {
          isParent = true;
        }
      });
      return isParent;
    }
  }
};
</script>

<style scoped>
.icon-button::before {
  padding-right: 2px;
}
</style>
