<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Classes</h1>
      </div>
    </div>
    <div class="row">
      <input type="text" class="form-control" name="searchClass" id="searchClass" v-model="searchClass" placeholder="Search">
    </div>
    <div class="row">
      <div class="col-10">
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-sm btn-outline-primary mdi mdi-plus icon-button add-button" @click="showAddClass()">Add</button>
      </div>
    </div>
    <div class="row table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Google id</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="classRoom in classesFiltered" :key="classRoom.id">
            <td>
              <button type="button" class="btn btn-sm btn-outline-primary mdi mdi-pencil icon-button" @click="showEditClass(classRoom)">Edit</button>
              <button type="button" class="btn btn-sm btn-outline-danger mdi mdi-close-circle-outline icon-button" @click="showRemove(classRoom)">Remove</button>
            </td>
            <td>{{classRoom.name}}</td>
            <td>{{classRoom.googleId}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="edit" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{modalTitle}} Class</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="classRoomName">Class name</label>
              <input class="form-control" type="text" name="classRoomName" id="classRoomName" placeholder="Name of the class" v-model="sendClass.name">
            </div>
            <div class="form-group">
              <label for="classRoomHour">Google id</label>
              <input type="mail" name="classRoomHour" id="classRoomHour" class="form-control" v-model="sendClass.googleId">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="editClass">{{modalTitle}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="remove" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Remove Class</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sur you want to remove this classRoom ({{sendClass.name}})?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="removeClass">Remove</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import SecuredPage from './SecuredPage';
import Class from '@/models/Class';
export default {
  name: 'Classes',
  extends: SecuredPage,
  data() {
    return {
      classes: [],
      isCreate: false,
      modalTitle: 'Edit',
      searchClass: '',
      sendClass: new Class()
    };
  },
  mounted() {
    this.$emit('change-active', 'Manage Classes');
    this.loadClasses();
  },
  computed: {
    classesFiltered() {
      return this.classes.filter(value =>
        value.name.toLowerCase().includes(this.searchClass.toLowerCase())
      );
    }
  },
  methods: {
    loadClasses() {
      this.$emit('loader', true);
      fetch(`${process.env.BACKEND_ENDPOINT}/calendar/classes`, {
        mode: 'cors'
      })
        .then(response => response.json())
        .then(json => {
          this.classes = json.map(classRoom => new Class(classRoom.name, classRoom.id, classRoom.google_id));
          this.$emit('loader', false);
        });
    },
    showEditClass(classRoom) {
      this.isCreate = false;
      this.sendClass = new Class(classRoom.name, classRoom.id, classRoom.googleId);
      this.modalTitle = 'Edit';
      $('#edit').modal('show');
    },
    showAddClass() {
      this.isCreate = true;
      this.sendClass = new Class();
      this.modalTitle = 'Create';

      $('#edit').modal('show');
    },
    showRemove(classRoom) {
      this.sendClass = classRoom;
      $('#remove').modal('show');
    },
    removeClass() {
      this.modifyClasses(this.sendClass, 'DELETE');
      $('#remove').modal('hide');
    },
    editClass() {
      if (!this.haveSameValue(this.sendClass)) {
        this.modifyClasses(this.sendClass, this.isCreate ? 'POST' : 'PUT');
      }
      $('#edit').modal('hide');
    },
    haveSameValue(selectedClass) {
      let areTheSame = false;
      this.classes.forEach(classRoom => {
        if (classRoom.id === selectedClass.id) {
          areTheSame = classRoom.equals(selectedClass);
        }
      });
      return areTheSame;
    },
    modifyClasses(classRoomSubmit, verb) {
      this.$emit('loader', true);
      this.adminFetch(`${process.env.BACKEND_ENDPOINT}/admin/classes`, (json) => {
        if (json === true) {
          this.loadClasses();
        }
        this.$emit('loader', false);
      }, {
        mode: 'cors',
        method: verb,
        body: JSON.stringify({ classRoom: classRoomSubmit })
      });
    },
    getModuleName(value) {
      if (!value) return '';
      let moduleN = this.modules.find(module => module.id === value);
      return moduleN ? moduleN.name : '';
    },
    getClassName(value) {
      if (!value) return '';
      let classRoomN = this.classes.find(classRoom => classRoom.id === value);
      return classRoomN ? classRoomN.name : '';
    }
  }
};
</script>

<style scoped>
label {
  margin-bottom: 0.2rem;
}
.form-group {
  text-align: left;
  margin-bottom: 1rem;
}
.icon-button::before {
  padding-right: 2px;
}
.add-button {
  margin-bottom: 5px;
  margin-top: 15px;
}
</style>
