<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Lessons</h1>
      </div>
    </div>
    <div class="row">
      <input type="text" class="form-control" name="searchLesson" id="searchLesson" v-model="searchLesson" placeholder="Search">
    </div>
    <div class="row">
      <div class="col-10">
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-sm btn-outline-primary mdi mdi-plus icon-button add-button" @click="showAddLesson()">Add</button>
      </div>
    </div>
    <div class="row table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Module</th>
            <th scope="col">Teacher</th>
            <th scope="col">Hours</th>
            <th scope="col">Curriculum</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="lesson in lessonsFiltered" :key="lesson.id">
            <td>
              <button type="button" class="btn btn-sm btn-outline-primary mdi mdi-pencil icon-button" @click="showEditLesson(lesson)">Edit</button>
              <button type="button" class="btn btn-sm btn-outline-danger mdi mdi-close-circle-outline icon-button" @click="showRemove(lesson)">Remove</button>
            </td>
            <td>{{lesson.name}}</td>
            <td>{{getModuleName(lesson.module)}}</td>
            <td>{{getTeacherName(lesson.teacher)}}</td>
            <td>{{lesson.hours}}h</td>
            <td>{{lesson.curriculum}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="edit" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{modalTitle}} Lesson</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="lessonName">Lesson name</label>
              <input class="form-control" type="text" name="lessonName" id="lessonName" placeholder="Name of the lesson" v-model="sendLesson.name">
            </div>
            <div class="form-group">
              <label for="lessonModule">Module</label>
              <select name="lessonModule" id="lessonModule" class="form-control" v-model="sendLesson.module">
                <option v-for="module in modules" :key="module.id" :value="module.id">{{module.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="lessonModule">Teacher</label>
              <select name="lessonModule" id="lessonModule" class="form-control" v-model="sendLesson.teacher">
                <option v-for="teacher in teachers" :key="teacher.id" :value="teacher.id">{{teacher.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="lessonHour">Hours</label>
              <input type="number" name="lessonHour" id="lessonHour" class="form-control" v-model="sendLesson.hours">
            </div>
            <div class="form-group">
              <label for="lessonCurriculum">Curriculum</label>
              <input type="text" name="lessonCurriculum" id="lessonCurriculum" class="form-control" v-model="sendLesson.curriculum">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="editLesson">{{modalTitle}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="remove" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Remove Lesson</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sur you want to remove this lesson ({{sendLesson.name}})?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="removeLesson">Remove</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import SecuredPage from './SecuredPage';
import Lesson from '@/models/Lesson';
export default {
  name: 'Lessons',
  extends: SecuredPage,
  data() {
    return {
      lessons: [],
      modules: [],
      teachers: [],
      isCreate: false,
      modalTitle: 'Edit',
      searchLesson: '',
      sendLesson: new Lesson()
    };
  },
  mounted() {
    this.$emit('change-active', 'Lessons');
    this.adminFetch(`${process.env.BACKEND_ENDPOINT}/admin/modules`, (json) => {
      this.modules = json;
    });
    this.adminFetch(`${process.env.BACKEND_ENDPOINT}/admin/teachers`, (json) => {
      this.teachers = json;
    });
    this.loadLessons();
  },
  computed: {
    lessonsFiltered() {
      return this.lessons.filter(value =>
        value.name.toLowerCase().includes(this.searchLesson.toLowerCase())
      );
    }
  },
  methods: {
    loadLessons() {
      this.$emit('loader', true);
      this.adminFetch(`${process.env.BACKEND_ENDPOINT}/admin/lessons`, (json) => {
        this.lessons = json.map(lesson => new Lesson(lesson.name, lesson.id, lesson.module, lesson.teacher, lesson.hours, lesson.curriculum));
        this.$emit('loader', false);
      });
    },
    showEditLesson(lesson) {
      this.isCreate = false;
      this.sendLesson = new Lesson(
        lesson.name,
        lesson.id,
        lesson.module,
        lesson.teacher,
        lesson.hours,
        lesson.curriculum
      );
      this.modalTitle = 'Edit';
      $('#edit').modal('show');
    },
    showAddLesson() {
      this.isCreate = true;
      this.sendLesson = new Lesson();
      this.modalTitle = 'Create';

      $('#edit').modal('show');
    },
    showRemove(lesson) {
      this.sendLesson = new Lesson(
        lesson.name,
        lesson.id,
        lesson.module,
        lesson.teacher,
        lesson.hours,
        lesson.curriculum
      );
      $('#remove').modal('show');
    },
    removeLesson() {
      this.modifyLessons(this.sendLesson, 'DELETE');
      $('#remove').modal('hide');
    },
    editLesson() {
      if (!this.haveSameValue(this.sendLesson)) {
        this.modifyLessons(this.sendLesson, this.isCreate ? 'POST' : 'PUT');
      }
      $('#edit').modal('hide');
    },
    haveSameValue(selectedLesson) {
      let areTheSame = false;
      this.lessons.forEach(lesson => {
        if (lesson.id === selectedLesson.id) {
          areTheSame = lesson.equals(selectedLesson);
        }
      });
      return areTheSame;
    },
    modifyLessons(lessonSubmit, verb) {
      this.$emit('loader', true);
      this.adminFetch(`${process.env.BACKEND_ENDPOINT}/admin/lessons`, (json) => {
        if (json === true) {
          this.loadLessons();
        }
        this.$emit('loader', false);
      }, {
        mode: 'cors',
        method: verb,
        body: JSON.stringify({ lesson: lessonSubmit })
      });
    },
    getModuleName(value) {
      if (!value) return '';
      let moduleN = this.modules.find(module => module.id === value);
      return moduleN ? moduleN.name : '';
    },
    getTeacherName(value) {
      if (!value) return '';
      let teacherN = this.teachers.find(teacher => teacher.id === value);
      return teacherN ? teacherN.name : '';
    }
  }
};
</script>

<style scoped>
label {
  margin-bottom: 0.2rem;
}
.form-group {
  text-align: left;
  margin-bottom: 1rem;
}
.icon-button::before {
  padding-right: 2px;
}
.add-button {
  margin-bottom: 5px;
  margin-top: 15px;
}
.datepicker {
  display: inline-block;
}
</style>
