<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Rooms</h1>
      </div>
    </div>
    <div class="row">
      <input type="text" class="form-control" name="searchRoom" id="searchRoom" v-model="searchRoom" placeholder="Search">
    </div>
    <div class="row">
      <div class="col-10">
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-sm btn-outline-primary mdi mdi-plus icon-button add-button" @click="showAddRoom()">Add</button>
      </div>
    </div>
    <div class="row table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Google id</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="room in roomsFiltered" :key="room.id">
            <td>
              <button type="button" class="btn btn-sm btn-outline-primary mdi mdi-pencil icon-button" @click="showEditRoom(room)">Edit</button>
              <button type="button" class="btn btn-sm btn-outline-danger mdi mdi-close-circle-outline icon-button" @click="showRemove(room)">Remove</button>
            </td>
            <td>{{room.name}}</td>
            <td>{{room.googleId}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="edit" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{modalTitle}} Room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="roomName">Room name</label>
              <input class="form-control" type="text" name="roomName" id="roomName" placeholder="Name of the room" v-model="sendRoom.name">
            </div>
            <div class="form-group">
              <label for="roomHour">Google id</label>
              <input type="mail" name="roomHour" id="roomHour" class="form-control" v-model="sendRoom.googleId">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="editRoom">{{modalTitle}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="remove" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Remove Room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sur you want to remove this room ({{sendRoom.name}})?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="removeRoom">Remove</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import SecuredPage from './SecuredPage';
import Room from '@/models/Room';
export default {
  name: 'Rooms',
  extends: SecuredPage,
  data() {
    return {
      rooms: [],
      isCreate: false,
      modalTitle: 'Edit',
      searchRoom: '',
      sendRoom: new Room()
    };
  },
  mounted() {
    this.$emit('change-active', 'Manage Rooms');
    this.loadRooms();
  },
  computed: {
    roomsFiltered() {
      return this.rooms.filter(value =>
        value.name.toLowerCase().includes(this.searchRoom.toLowerCase())
      );
    }
  },
  methods: {
    loadRooms() {
      this.$emit('loader', true);
      fetch(`${process.env.BACKEND_ENDPOINT}/calendar/rooms`, {
        mode: 'cors'
      })
        .then(response => response.json())
        .then(json => {
          this.rooms = json.map(room => new Room(room.name, room.id, room.google_id));
          this.$emit('loader', false);
        });
    },
    showEditRoom(room) {
      this.isCreate = false;
      this.sendRoom = new Room(room.name, room.id, room.googleId);
      this.modalTitle = 'Edit';
      $('#edit').modal('show');
    },
    showAddRoom() {
      this.isCreate = true;
      this.sendRoom = new Room();
      this.modalTitle = 'Create';

      $('#edit').modal('show');
    },
    showRemove(room) {
      this.sendRoom = room;
      $('#remove').modal('show');
    },
    removeRoom() {
      this.modifyRooms(this.sendRoom, 'DELETE');
      $('#remove').modal('hide');
    },
    editRoom() {
      if (!this.haveSameValue(this.sendRoom)) {
        this.modifyRooms(this.sendRoom, this.isCreate ? 'POST' : 'PUT');
      }
      $('#edit').modal('hide');
    },
    haveSameValue(selectedRoom) {
      let areTheSame = false;
      this.rooms.forEach(room => {
        if (room.id === selectedRoom.id) {
          areTheSame = room.equals(selectedRoom);
        }
      });
      return areTheSame;
    },
    modifyRooms(roomSubmit, verb) {
      this.$emit('loader', true);
      this.adminFetch(`${process.env.BACKEND_ENDPOINT}/admin/rooms`, (json) => {
        if (json === true) {
          this.loadRooms();
        }
        this.$emit('loader', false);
      }, {
        mode: 'cors',
        method: verb,
        body: JSON.stringify({ room: roomSubmit })
      });
    },
    getModuleName(value) {
      if (!value) return '';
      let moduleN = this.modules.find(module => module.id === value);
      return moduleN ? moduleN.name : '';
    },
    getRoomName(value) {
      if (!value) return '';
      let roomN = this.rooms.find(room => room.id === value);
      return roomN ? roomN.name : '';
    }
  }
};
</script>

<style scoped>
label {
  margin-bottom: 0.2rem;
}
.form-group {
  text-align: left;
  margin-bottom: 1rem;
}
.icon-button::before {
  padding-right: 2px;
}
.add-button {
  margin-bottom: 5px;
  margin-top: 15px;
}
</style>
