<script>
import AdminService from '@/services/AdminService';

/**
 * Page to extends for all page that needs auth
 */
export default {
  name: 'SecuredPage',
  data() {
    return {};
  },
  beforeCreate() {
    let admin = new AdminService(this);
    if (!admin.isAdmin()) {
      this.$router.push('/login');
    }
  },
  computed: {
    name() {
      let admin = new AdminService(this);
      return admin.getName();
    },
    password() {
      let admin = new AdminService(this);
      return admin.getPassword();
    },
    credentials() {
      return `user=${this.name}&password=${this.password}`;
    }
  },
  methods: {
    adminFetch(url, callback, fetchOption = null) {
      let admin = new AdminService(this);
      admin.adminFetch(url, callback, fetchOption);
    }
  }
};
</script>

<style scoped>
</style>
