<template>
  <div class="container">
    <div class="alert alert-danger info-error" role="alert" v-show="haveError" v-html="errorInfo">
    </div>
    <div class="row">
      <div class="col-12">
        <select id="lesson-select" class="form-control" v-model="selected" v-selecttwo="selected">
          <option value="0">Select a lesson ...</option>
        </select>
      </div>
    </div>
    <div class="report" v-show="lessonSelected">
      <div class="row">
        <div class="col-6 table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Sessions information</th>
                <th scope="col">Value from the sessions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Number of Sessions Done</th>
                <td>{{sessionsDone}}h</td>
              </tr>
              <tr>
                <th scope="row">Number of Sessions Planned</th>
                <td>{{sessionsPlanned}}h</td>
              </tr>
              <tr class="important-row">
                <th scope="row">Number of Sessions Done and Planned</th>
                <td>{{sessionsDonePlanned}}h</td>
              </tr>
              <tr>
                <th scope="row">Number of hour Left</th>
                <td :class="{'to-much-session': toMuchSession}">{{sessionsLeft}}h</td>
              </tr>
              <tr class="important-row">
                <th scope="row">Total of hours</th>
                <td>{{totalSession}}h</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6 chart-container">
          <canvas id="sessions-chart" ref="sessionsChart"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="sessions-calendar" ref="sessionsCalendar"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global moment FullCalendar */
import Chart from 'chart.js';
import SecuredPage from './SecuredPage';
export default {
  name: 'Statistics',
  extends: SecuredPage,
  data() {
    return {
      selected: '',
      sessionsChart: null,
      sessionValue: [],
      lessons: [],
      modules: [],
      sessions: [],
      teachers: [],
      calendar: null,
      moduleForDate: null,
      errorInfo: ''
    };
  },
  computed: {
    sessionsDone() {
      return this.sessionValue[0];
    },
    sessionsPlanned() {
      return this.sessionValue[1];
    },
    sessionsDonePlanned() {
      return this.sessionValue[0] + this.sessionValue[1];
    },
    sessionsLeft() {
      return this.sessionValue[2] - this.sessionValue[0] - this.sessionValue[1];
    },
    totalSession() {
      return this.sessionValue[2];
    },
    lessonSelected() {
      return this.sessionValue[0] !== undefined && this.sessionValue[1] !== undefined && this.sessionValue[2] !== undefined;
    },
    selectLesson() {
      return this.lessons.find(lesson => lesson.id === this.selected);
    },
    selectLessonName() {
      return this.selectLesson ? this.selectLesson.name : '';
    },
    haveError() {
      return this.errorInfo !== '';
    },
    toMuchSession() {
      return this.sessionsLeft < 0;
    }
  },
  mounted() {
    this.$emit('change-active', 'Statistics');
    this.$emit('loader', true);
    this.sessionsChart = new Chart(this.$refs.sessionsChart, {
      type: 'doughnut',
      data: {
        labels: ['Sessions Done', 'Sessions Planned', 'Session left'],
        datasets: [
          {
            label: 'Sessions',
            data: this.sessionValue,
            backgroundColor: [
              '#28a745', // green
              '#17a2b8', // blue
              '#dc3545' // red
            ]
          }
        ]
      }
    });
    this.calendar = new FullCalendar.Calendar(this.$refs.sessionsCalendar, {
      defaultView: 'month',
      allDaySlot: false,
      nowIndicator: true,
      minTime: '07:00:00',
      maxTime: '20:00:00',
      hiddenDays: [0], // index of days 0=Sunday, 1=Monday example: [0,1,2,3,4,5,6]
      height: 'auto',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,listYear'
      },
      validRange: (nowDate) => {
        return {
          start: this.moduleForDate ? this.moduleForDate.startDate : '',
          end: this.moduleForDate ? this.moduleForDate.endDate : ''
        };
      }
    });
    this.calendar.render();
    // Get modules
    fetch(`${process.env.BACKEND_ENDPOINT}/admin/modules?${this.credentials}`, {
      mode: 'cors'
    })
      .then(response => response.json())
      .then(json => {
        this.modules = json;
      })
      .catch(e => {
        console.log(e);
      })
      // Get teachers
      .then(() =>
        fetch(`${process.env.BACKEND_ENDPOINT}/calendar/teachers`, {
          mode: 'cors'
        })
      )
      .then(response => response.json())
      .then(json => {
        this.teachers = json;
      })
      // get Lessons
      .then(() => {
        return fetch(`${process.env.BACKEND_ENDPOINT}/admin/lessons?${this.credentials}`, {
          mode: 'cors'
        });
      })
      .then(response => response.json())
      .then(lessons => {
        this.lessons = lessons;
        let modulesGroup = this.modules.map(module => {
          return {
            id: module.id,
            text: module.name,
            children: []
          };
        });
        this.lessons.forEach(lesson => {
          modulesGroup.forEach(moduleItem => {
            if (lesson.module === moduleItem.id) {
              moduleItem.children.push({
                id: lesson.id,
                text: lesson.name + this.getTeacherNameForInput(lesson.teacher) +
                (lesson.curriculum ? ` (${lesson.curriculum})` : '')
              });
            }
          });
        });
        $('#lesson-select').select2({
          placeholed: 'Select a lesson...',
          theme: 'bootstrap',
          data: modulesGroup
        });
        this.$emit('loader', false);
      });
  },
  methods: {
    changeLesson(idLesson) {
      this.$emit('loader', true);
      let lesson = this.lessons.find(lesson => lesson.id === idLesson);
      let url = `${process.env.BACKEND_ENDPOINT}/admin/stats/events/${
        this.selected}`;
      // Get events lesson
      this.adminFetch(url, (json) => {
        let isCompleteLesson = true;
        if (json.noLesson === true) {
          this.errorInfo = 'This lesson doesn\'t exist';
          isCompleteLesson = false;
        }
        if (json.noModule === true) {
          this.errorInfo = 'No module for this lesson. You can add one by <a href="/admin/lessons" class="alert-link">clicking here</a>';
          isCompleteLesson = false;
        }
        if (json.noTeacher === true) {
          this.errorInfo = 'No teacher for this lesson. You can add one by <a href="/admin/lessons" class="alert-link">clicking here</a>';
          isCompleteLesson = false;
        }
        if (isCompleteLesson) {
          this.sessions = json;
          for (let i = 0; i < 3; i++) {
            this.sessionValue.pop();
          }
          let nbSessionsDone = 0;
          let nbSessionsPlanned = 0;
          let dateNow = moment().local().hours(23).minutes(59).seconds(59);
          this.sessions.forEach(session => {
            let endSession = moment(session.end).local();
            let startSession = moment(session.start).local();
            let diff = endSession.diff(startSession, 'hours');
            if (endSession.isBefore(dateNow)) {
              nbSessionsDone += diff;
              session.color = '#28a745';
            } else {
              nbSessionsPlanned += diff;
              session.color = '#17a2b8';
            }
          });
          this.sessionValue.push(nbSessionsDone);
          this.sessionValue.push(nbSessionsPlanned);
          this.sessionValue.push(lesson.hours);
          console.log('total', this.totalSession);
        } else {
          this.sessionValue.splice(0, this.sessionValue.length);
        }
        this.$emit('loader', false);
      });
    },
    updateChart() {
      this.sessionsChart.data.datasets[0].data[0] = this.sessionsDone;
      this.sessionsChart.data.datasets[0].data[1] = this.sessionsPlanned;
      this.sessionsChart.data.datasets[0].data[2] = this.toMuchSession ? 0 : this.sessionsLeft;
      this.sessionsChart.update();
    },
    updateCalendar() {
      this.calendar.removeEvents();
      this.calendar.removeEventSources();
      if (this.sessions.length > 0) {
        this.calendar.addEventSource(this.sessions);
        this.calendar.gotoDate(this.sessions[0].start);
      }
    },
    getModuleName(value) {
      if (!value) return '';
      let moduleN = this.modules.find(module => module.id === value);
      return moduleN ? moduleN.name : '';
    },
    getTeacherNameForInput(value) {
      if (!value) return '';
      let teacherN = this.teachers.find(teacher => teacher.id === value);
      return teacherN ? ' with ' + teacherN.name.replace('PNC-T-', '') : '';
    }
  },
  watch: {
    selected: function(newLesson, oldLesson) {
      this.errorInfo = '';

      if (newLesson !== '') {
        let lesson = this.lessons.find(lesson => lesson.id === +newLesson);

        this.moduleForDate = this.modules.find(module => module.id === lesson.module);
        this.calendar.render();
        this.changeLesson(+newLesson);
      }
    },
    sessionValue: function(newSessionValue, oldSessionValue) {
      this.updateChart();
      this.updateCalendar();
    }
  },
  filters: {
    date(value) {
      if (!value) {
        return '';
      } else {
        let momentDate = moment(value).local();
        return momentDate.isValid() ? momentDate.format('LLLL') : '';
      }
    }
  },
  directives: {
    selecttwo: {
      inserted(el) {
        $(el).on('select2:select', () => {
          const event = new Event('change', { bubbles: true, cancelable: true });
          el.dispatchEvent(event);
        });
      }
    }
  }
};
</script>

<style>
.report {
  margin-top: 1em;
}
.important-row {
  border: 2px solid #aab7c3;
}
#lesson-select .select2-results {
  max-height: 300px;
}

.select2-container--bootstrap .select2-results__group {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 3px 8px 0px rgba(255, 255, 255, 0.5);
}
.to-much-session {
  color: #dc3545;
  font-weight: bold;
}
</style>
